# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before launching pyinstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tosca/
.pytest_cache/
.cyberbrain/
.rasterio/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
nested_compiler_refs/

# pyenv
#   By default tilde is also ignored by git, which can cause problems if
#   the path contains tilde.
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if you choose to not to check in the lock file, uncomment the following line:
#Pipfile.lock

# poetry
#   Using Poetry requires sign-off from all contributors. It's recommended to commit poetry.lock
#poetry.lock

# pdm
#   PDM stores its configuration in .pdm-python and local overrides in .pdm.toml
.pdm-python
.pdm.toml

# venv
#   Standard Python virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environments and Secrets
.env
.venv
env/
venv/
ENV/
